/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.menu-bar {
	-fx-background-color:#2196F3;
}

.list-view {
	-fx-focus-color: transparent; 
	-fx-faint-focus-color: transparent;
	-fx-selection-bar:#ffc5b3 ;
}
